@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #4a86ff;
  font-size: 70px;
  font-weight: 800;
}
.hobbyContainer {
  width: 100%;
  @include flex;
  gap: 59px;
  margin-bottom: 200px;
}
.hobbyContents {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .hobbyContainer {
    width: 100%;
    @include flex;
    gap: 59px;
    margin-bottom: 200px;
  }
  .hobbyContents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
