@use '../styles/variables' as v;

.about-section {
    width: 100%;
    max-width: 1211px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    text-align: left;
}

.profile-card {
    background-color: v.$white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    line-height: 2;

    h3 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 5px;
        color: v.$primary-color;
    }
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;

    .contact-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    span {
        font-size: 18px;
        color: v.$text-secondary;
    }
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ebedf8;
    margin: 0 auto 20px;
    overflow: hidden;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.info-item {
    h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    }

    p {
    color: v.$text-description;
    }

}